<div class="row">
	
	<ol class="breadcrumb">
	  <li><%= link_to 'Dr. Merin Yoshida DPM', root_path %></li>
	  <li><%= link_to 'Conditions & Treatments', conditions_path %></li>
	  <li><%= link_to 'Callus, Corn', conditions_callus_path %></li>
	</ol>

	<div class='conditions-container'>
		<h1>Callus, Corn</h1>
		<div class='col-md-6'>
			<div class='content-section'>
				<h2>Callus</h2>
				<p>A callus is a thickened area of skin on the foot caused by pressure and repeated rubbing, usually from your socks and shoes. Your body tries to create a protective layer and thus creates a callus.</p>
				<h2>Corn</h2>
				<p>A corn is a circular thickened lesion on the foot. It also forms due to repeated pressure and friction. A corn is different from a callus in that it has a central core of hard material.</p>
				<p>People with hammertoes often suffer from corns because the toes rub against the tops of shoes.</p>
				<h2>Callus and Corn Treatment</h2>
				<p>When calluses and corns cause pain, a podiatrist will recommend the treatment option most appropriate for you. However, if the underlying cause of the callus or corn is not treated, it will likely recur. It is important to avoid trying to remove them at home or using medicated pads, as serious infection may occur.</p>
				<p><%= link_to 'Contact Dr. Yoshida ', contact_path %>today to discuss your questions or concerns and she will explore the best treatment options with you.</p>
			</div>
		</div>
		<div class='col-md-6 img-container'>
			<img src='/assets/conditions/callus-corn-feet.jpg' alt="Callus and Corn" class="img-thumbnail image-responsive center-block img-smaller">
		</div>
	</div>
</div>
