<div class="row">
	<ol class="breadcrumb">
	  <li><%= link_to 'Dr. Merin Yoshida DPM', root_path %></li>
	  <li><%= link_to 'Conditions & Treatments', conditions_path %></li>
	  <li><%= link_to 'Neuroma', conditions_neuroma_path %></li>
	</ol>
	<div class='conditions-container'>
		<h1>Neuroma</h1>
		<div class='col-md-6'>
			<div class='content-section'>
				<p>A neuroma is a thickening or enlargement nerves, most commonly between the third and fourth toes. Neuromas are caused by compression and irritation of the nerve. Pressure from poorly fitting shoes or an abnormal bone structure can also lead to this condition.</p> 
				<p>Symptoms may include sensations of thickness, burning, numbness, tingling, or pain in the ball of the foot. Patients often state they feel like they are “walking on a pebble” or that their sock is bunched underneath their foot. </p>
				<h2>Neuroma Treatment</h2>
				<p>Treatments generally include padding, orthotics, supportive shoes, NSAIDs (anti-inflammatory medications), cortisone injections. In severe cases, surgical removal of the growth may be necessary.</p>
				<p><%= link_to 'Contact Dr. Yoshida ', contact_path %>today to discuss your questions or concerns and she will explore the best treatment options with you.</p>
			</div>
		</div>
		<div class='col-md-6 img-container'>
			
		</div>
	</div>
</div>
