<div class="row">
	<ol class="breadcrumb">
	  <li><%= link_to 'Dr. Merin Yoshida DPM', root_path %></li>
	  <li><%= link_to 'Conditions & Treatments', conditions_path %></li>
	  <li><%= link_to 'Foot & Ankle Sprains', conditions_sprain_path %></li>
	</ol>
	<div class='conditions-container'>
		<h1>Foot & Ankle Sprains</h1>
		<div class='col-md-6'>
			<div class='content-section'>
				<p>A sprain is stretching or tearing of a ligament. A ligament is the fibrous band of connective tissue that joins two bones together. Ligaments stabilize and support the body's joints. A sprain is caused by direct or indirect trauma that knocks a joint out of position, over-stretches the ligament and sometimes causes it to rupture. The most common sprain is an ankle sprain, commonly referred to as “twisting an ankle.” </p>

				<p>Symptoms of a sprain include: pain, bruising, swelling, and inflammation. These symptoms may vary in intensity, depending on the severity of the sprain. Usually, the more pain and swelling, the more severe your ankle sprain is and the longer it will take to heal. After an ankle sprain, you may need to use crutches. As you get stronger, you can begin mobilizing the area and increasing the amount of weight bearing on the affected limb. Treating a sprained ankle quickly can help prevent chronic ankle problems including weakness and instability.</p>
				<h2>Sprain Treatment</h2>
				<p>In many cases you can first use the PRINCE approach to treat a sprain:</p>
				<ul class='prince-list'>
					<li><h3>P - Protection.</h3> Use a protective brace, such as an air stirrup or a lace-up brace</li>
					<li><h3>R - Rest.</h3> Use crutches until you can walk without pain.</li>
					<li><h3>I - Ice.</h3> For at least the first few days or until the swelling goes down, apply an ice pack for 10 to 20 minutes every hour during the day. Do not sleep with an ice pack on.</li>
					<li><h3>N - NSAIDs.</h3> Anti-inflammatory medications such as Ibuprofen or Naproxen can help reduce swelling and pain.</li>
					<li><h3>C - Compression.</h3> An elastic compression wrap, such as an ACE bandage, will help reduce swelling. Compression wraps do not offer protection and should be used in conjunction with a brace.</li>
					<li><h3>E - Elevation.</h3> Raise your ankle above the level of your heart several times during the day to reduce swelling and bruising.</li>
				</ul>
				<p>Physical therapy will teach you rehabilitation exercises to get you back on your feet and prevent future injuries. Besides taping your ankle or wearing a brace, using supportive high top shoes can also provide stablility. Let pain be your guide and be patient as you gradually return to activities.</p>
				<p><%= link_to 'Contact Dr. Yoshida ', contact_path %>today to discuss your questions or concerns and she will explore the best treatment options with you.</p>
			</div>
		</div>
		<div class='col-md-6 img-container'>
			<img src='/assets/conditions/foot-ankle-sprain.jpg' alt="Foot ankle sprain" class="img-thumbnail image-responsive center-block img-smaller">
		</div>
	</div>
</div>
