<div class="row">
	<ol class="breadcrumb">
	  <li><%= link_to 'Dr. Merin Yoshida DPM', root_path %></li>
	  <li><%= link_to 'Conditions & Treatments', conditions_path %></li>
	  <li><%= link_to 'Wart', conditions_wart_path %></li>
	</ol>
	<div class='conditions-container'>
		<h1>Warts</h1>
		<div class='col-md-6'>
			<div class='content-section'>
				<p>Warts that appear on the sole of the foot are called plantar warts. Untreated warts can grow to greater than an inch in circumference and can spread into clusters called mosaic warts.  The virus that causes warts is the human papillomavirus (HPV).  This virus can spread through touching, scratching, or even by contact with skin shed from another wart.</p>
				<p>Most warts are harmless, even though they may be painful. They are often mistaken for corns or calluses, which are layers of dead skin that build up to protect an area which is being continuously irritated.  If unsure of the lesion, Dr. Yoshida can take a sample and send it to the lab for identification.</p>
				<h2>Treatment</h2>
				<p>Removal of warts can often begin with scraping the surface skin and applying a chemical to the lesion.  Cryotherapy is also an option but can take several treatments to fully get rid of the wart.  If any treatment is too uncomfortable, Dr. Yoshida can utilize local anesthetic to numb the affected area.</p>  
				<p>A procedure known as CO2 laser cautery is also available and can be performed under local anesthesia.  It is helpful in that it can be used for more resistant warts and decrease scarring.</p>
				<p>Prevention includes the following:</p>
				<ul>
					<li>Do not ignore growths on, or changes in, your skin.</li>
					<li>Avoid walking barefoot at public pools or showers.</li>
					<li>Avoid direct contact with warts from other people.</li>
					<li>If someone in your family has plantar warts, bleach the bathtub and shower regularly.</li>
					<li>Visit your podiatric physician as soon as you identify a lesion.</li>
				</ul>
				<p><%= link_to 'Contact Dr. Yoshida ', contact_path %>today to discuss your questions or concerns.</p>
			</div>
		</div>
		<div class='col-md-6 img-container'>

		</div>
	</div>
</div>
