<div class="row">
	<ol class="breadcrumb">
	  <li><%= link_to 'Dr. Merin Yoshida DPM', root_path %></li>
	  <li><%= link_to 'Conditions & Treatments', conditions_path %></li>
	  <li><%= link_to 'Wound Care, Diabetic Ulcer', conditions_wound_path %></li>
	</ol>
	<div class='conditions-container'>
		<h1>Wound Care, Diabetic Ulcer</h1>
		<div class='col-md-6'>
			<div class='content-section'>
				<p>Wounds (also called ulcers) can be commonly seen in patients who have diabetes, neuropathy or vascular disease. Open wounds can put patients at increased risk of developing infection in the skin and bone. The signs of infection include warmth, swelling, drainage, malodor, redness and pain. </p>
				<h2>Wound Treatment</h2>
				<p>Diagnosis may include x-rays or MRI to evaluate possible bone involvement. Other advanced imaging studies may also be ordered to evaluate for vascular disease, which may affect a patient’s ability to heal the wound.</p>
				<p>Ulcers are treated by removing the unhealthy tissue and performing local wound care to assist in healing. Depending on the type of wound, different dressings and topicals can be utilized. Special shoes or padding may be used to offload pressure on the area. If infection is present, antibiotics will be necessary. In severe cases that involve extensive infection, surgery or other advanced wound care treatments may be necessary.</p>
				<p><%= link_to 'Contact Dr. Yoshida ', contact_path %>today to discuss your questions or concerns and she will explore the best treatment options with you.</p>
			</div>
		</div>
		<div class='col-md-6 img-container'>
			<img src='/assets/conditions/wound-care.jpg' alt="Wound Care for Feet" class="img-thumbnail image-responsive center-block img-smaller">
		</div>
	</div>
</div>
