<div class="row">
	
	<ol class="breadcrumb">
	  <li><%= link_to 'Dr. Merin Yoshida DPM', root_path %></li>
	</ol>
	<div class="col-sm-12 col-md-4">
		<div class="thumbnail">
			<div class="thumbnail-box">
		  	  <%= image_tag 'feet-xray-square.jpg', :alt => 'Feet X-rays' %>
		  	</div>
		  <div class="caption">
		    <h3>When to Visit a Podiatrist?</h3>
		    <p>We take our feet for granted. When does a "small" annoyance turn into a real foot problem? Early diagnosis and prevention can save you future pain and complications. </p>
		    <p><a href="#" class="btn btn-basic" role="button">Read More</a></p>
		  </div>
		</div>
	</div>
	<div class="col-sm-12 col-md-4">
		<div class="thumbnail">
			<div class="thumbnail-box">
		  	  <%= image_tag 'dryoshida-xray-square.jpg', :alt => 'Dr. Merin Yoshida with an X-ray' %>
		  	</div>
		  	<div class="caption">
		    	<h3>Caring for Our Patients</h3>
		    	<p>Patience, care and compassion are important aspects to patient care. We are happy to answer any questions (even if you searched for a diagnosis on Google).</p>
		    	<p><a href="#" class="btn btn-basic" role="button">Read More</a></p>
		  	</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-4">
		<div class="thumbnail">
			<div class="thumbnail-box">
	  	  	  <%= image_tag 'podiatry-research-square.jpg', :alt => 'Dr. Yoshida doing research' %>
			</div>
	  		<div class="caption">
	    		<h3>Meet Dr. Yoshida</h3>
	    		<p>Learn more about Dr. Yoshida. Feel free to send her a message!</p>
	    		<p><a href="#" class="btn btn-basic" role="button">Read More</a></p>
	  	  	</div>
		</div>
	</div>
</div>
