<div class="row">
	<ol class="breadcrumb">
	  <li><%= link_to 'Dr. Merin Yoshida DPM', root_path %></li>
	  <li><%= link_to 'Patient Care', patient_path %></li>
	  <li><%= link_to 'We Truly Care', conditions_plantar_path %></li>
	</ol>
	<div class='patients-container'>
		<h1>Have you ever Googled your symptoms?</h1>
		<div class='col-md-6 content-section'>
			<h2>It's okay! We understand</h2>
			<p>It's completely normal that your first instinct may be to Google your symptoms. Before you know it, you're in a blackhole of WebMD and have a list of possible diagnosises that range from "nothing" to potential panic.</p>
			<p>Dr. Yoshida wants to set your mind at ease. We're happy to go through that checklist with you in order help you make important and educated steps for your health.</p>
			<p>The most important thing to us is that you feel comfortable, safe and cared for throughout all your interactions with us. Questions are normal and encouraged!</p> 
			<h2>We want to educate our patients</h2> 
			<p>Dr. Yoshida strives to do her very best in explaining all aspects of the situation. We understand that it can be overwhelming to hear so much information at once, but we're here to make sure you're in good hands (and feet!).</p>
			<p><%= link_to 'Dr. Yoshida is happy to discuss your concerns', contact_path %>, and believes that quality patient care is of utmost importance.</p>
		</div>
		<div class='col-md-6 img-container'>
			<img src='/assets/drmerin-surfer.jpg' alt="Dr. Yoshida enjoys surfing" class="img-thumbnail image-responsive center-block">
		</div>
	</div>
</div>
