<div class='row'>
	<ol class="breadcrumb">
	  <li><%= link_to 'Dr. Merin Yoshida DPM', root_path %></li>
	  <li><%= link_to 'About', about_path %></li>
	</ol>
	<div class='content-container'>
		<div class='col-md-6'>
			<h1 class="page-title">About Dr. Merin Yoshida</h1>
			<h2>"My priorities center around providing the best patient care possible."</h2>
			<div class='content-section'>
				<p>Dr. Merin Yoshida is a Foot and Ankle Specialist and an aspiring professional surfer. A Southern California native, she's had the opportunity to live abroad before establishing herself back in Huntington Beach.</p> 
				<p>Dr. Yoshida graduated from UC Riverside in 2003, majoring in Liberal Studies with an emphasis on Sociology and Ethnic Studies. She then spent a year in Osaka, Japan teaching English before moving to Chicago to attend the Scholl College of Podiatric Medicine and graduated with the class of 2010. </p>
				<p>For residency she returned back to Southern California and finished her surgical training through Lakewood Regional Medical Center. Dr. Yoshida actively volunteers as a speaker to introduce at-risk youth and high school students to the medical field, and performs pro bono podiatric services to underserved communities.</p>
				<p>Dr. Yoshida spends most of her free time surfing, scuba diving, volunteering in an educational capacity, and enjoying healthy meals with friends and family.</p>
			</div>
		</div>
		<div class='col-md-6 img-container'>
			<%= image_tag "drmerin-podiatrist.jpg", :alt => "Dr. Merin Yoshida DPM", :class => ["img-thumbnail", "image-responsive", "center-block", "img-smaller"] %>
		</div>
	</div>
</div>