<div class="container">
		<ol class="breadcrumb">
		  <li><a href="#">Dr. Merin Yoshida DPM</a></li>
		  <li><a href="#">Contact</a></li>
		</ol>
	<div class='col-md-5'>
		<h2>Same day appointments available, call now to schedule!</h2>

		<h2>Location</h2>
		<p>19066 Magnolia St</p>
		<p>Huntington Beach CA, 92646</p>
		<p>Phone: (714) 968-0068</p>
		<p>Fax: (714) 378-2115</p>
		<p>Email: merin@drmerin.com</p>
		<p>Google+: DrMerin</p>

		<h2>Hours</h2>
		<p>Monday - Friday</p>
		<p>8 am - 5 pm </p>

		<p>We look forward to seeing you soon!</p>
	</div>
	<div class='col-md-7'>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106236.85282267307!2d-117.96975339999999!3d33.6856107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd272a8a869087%3A0xd24c16e96575628a!2s19066+Magnolia+St%2C+Garfield+Plaza+Shopping+Center%2C+Huntington+Beach%2C+CA+92646%2C+USA!5e0!3m2!1sen!2shk!4v1437249383640" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>